<% content_for :title do %>Home<% end %>

<% content_for :description do %>Rod's Website<% end %>

<section>
  <img src="http://lorempixel.com/810/350/nature/1">
  <!-- <img src="http://lorempixel.com/1170/600/nature/1"> --> 
 <!-- <img src="../../assets/images/ants.jpeg">  -->

</section>

<section>
  <div class="column">
    <h4>Welcome to Panacea!</h4>  
    <p>We are planning to list a collection of funny and catchy anecdotes from people like you who feel that everyone around the city is getting a little bit too busy and too tired.  Launch date not so soon, tbd.</p>
  </div>
  
  <div class="column">
    <div class="form-centered">

    <%= simple_form_for @visitor do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, label: false, :placeholder => 'Your email address...' %> <br/>
      <%= f.button :submit, "Sign up for future subscription", :class => "submit" %>
    <% end %>

    </div>
  </div>

</section>