<% content_for :title do %>About<% end %>
<h3>About Rod K</h3>
<p>With a background in hardware engineering, Rod is currently engaged in software web development.  His skills include JavaScript functional programming, Ruby on Rails and working on Angular/React for back-end and front-end applications respectively.</p>
 <p>His favorite quotation is:   Carpe Diem!</p>


      
