<% content_for :title do %>Quotes<% end %>
<h3>Quote For The Day:  "Carpe Dentum!"</h3>
<h4>By the late Robin Williams.</h1>
<p>In other words, "Do your best each day but don't take yourself too seriously! (Literally, "Seize the teeth!")</p>


      
