<% content_for :title do %>About<% end %>
<div>
  <br/>
  <p>Panacea is about laughter, it is about smiling.  Share any of your amazing or memorable anecdotes and make another person laugh or smile.  Remember:  A smile today may be worth a hundred Doctor's visit later.</p>
  <p>Quote For The Day:  "Carpe Dentum!"  By the late Robin Williams.</p>
  <p>In other words, "Do your best each day but don't take yourself too seriously! (Literally, "Seize the teeth!")</p>
</div>


      
